body {
	margin: 0;

	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #6c7279;
	background-color: #fff;

}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0;
}

ul,li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/*header
=======================*/

.header {
	width: 100%;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

.header.fixed {
	position: fixed;
	background: #30334E;
	height: auto;
	opacity: 0.9;
	border-radius: 15px;
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	box-shadow: 0 0 10px;
}


.header.fixed .header__inner {
	padding: 15px 0;
	border-bottom: none;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 37px 0;
	border-bottom: 1px solid;
	border-color: #505369;
}

.header__logo {
	opacity: .75;
	transition: opacity .2s linear;
}

@media (hover: hover) and (pointer: fine) {
	.header__logo:hover {
		opacity: 1;
	}
}

/*nav
=======================*/
.nav__list {
	display: flex;
}

.nav__item + .nav__item {
	margin-left: 50px;
}

.nav__link {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	opacity: .75;
	transition: opacity .1s linear;
}

@media (hover: hover) and (pointer: fine) {
	.nav__link:hover {
		opacity: 1;
	}
}



/*intro
=======================*/

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 750px;
	background: url(img/intro.jpg) center no-repeat;
	background-size: cover;
	padding-top: 100px;
}

.intro__inner {
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	text-align: center;
}

.intro__title {
	margin: 0 0 30px;
	font: bold 65px 'Open Sans', sans-serif;
	color: #fff;
	text-transform: uppercase;
	line-height: 1.1;
}

.intro__subtitle {
	font:400 22px 'Raleway', sans-serif;
	line-height: 1.5;
	color: #fff;
	margin-bottom: 60px;
}

/*button
=======================*/

.btn {
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}


.btn--red {
	background: #e84545;
	padding: 14px 40px;
	border-radius: 2px;
	transition: background .2s linear;
}

.btn--red:hover {
	background: #ca3d3d;
}


.btn--long {
	min-width: 270px;
}
/*featurse
=======================*/
.features {
	padding: 100px 0;
}

.features__list  {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	gap: 50px 80px;
}

.features__item {
	text-align: center;
}


.features__icon {
	margin-bottom: 25px;
}

.features__title {
	margin-bottom: 20px;
	font:700 14px 'Raleway', sans-serif;
	text-transform: uppercase;
	color: #2d3033;
}

.features_text {
	font:400 14px 'Raleway', sans-serif;
	line-height: 1.5;
	text-align: center;
}

/*works
=======================*/
.works__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1px;
}

.works__item {
	height: 350px;
	position: relative;
	overflow: hidden;
}

.works__item:hover .works__content {
	opacity: 1;
}

.works__photo {
	min-width: 100%;
 	position: absolute;
 	left: 50%;
 	top: 50%;
 	z-index: 1;
 	transform: translate3d(-50%, -50%, 0);
}

.works__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(232, 69, 69, .8);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	transition: opacity .3s linear;
}


.works__title {
	margin-bottom: 5px;
	font:700 14px 'Raleway', sans-serif;
	color: #fff;
	text-transform: uppercase;
}

.works__text {
	font:400 14px 'Raleway', sans-serif;
	color: #fff;
}

/*team
=======================*/
.team {
	padding: 100px 0;
}

.team__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
}

.team__item {
	text-align: center;
}

.team__photo {
	display: inline-block;
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.team__name {
	font: 700 22px 'Raleway', sans-serif;
	color: #2d3033;
	margin-bottom: 8px;
}

.team__prof {
	font:700 13px 'Raleway', sans-serif ;
	color: #e84545;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.team__text {
	line-height: 1.5;
	margin-bottom: 20px;
}

/*socual
=======================*/
.social {
 	display: flex;
	justify-content: center;
}

.social__item {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 4px;
	width: 40px;
	height: 40px;
	border: 1px solid #e8ecee;
	opacity: .4;
	transition: background .3s, opacity .3s;
}

.social--footer .social__item {
	border: 2px solid #fff;
	opacity: 1;
}

.social__img {
	width: 18px;
}

.social__item:hover {
	opacity: 1;
	background: #e8ecee;
}

/*reviews
=======================*/
.reviews {
	overflow: hidden;
	background-color: #53354a;
}

.reviews__container {
	height: 500px;
	padding: 0;
}

.reviews__item {
	display: flex;
	justify-content: space-between;
}

.reviews__img {
	display: inline-block;
	object-fit: cover;
	width: 50%;
}

.reviews__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #53354a;
	width: 50%;
	padding-left: 60px;
}

.reviews_text {
	font: 400 36px 'Cardo', sans-serif;
	line-height: 1.2;
	color: #fff;
	margin-bottom: 25px;
}

.reviews__author {
 	font: 700 13px 'Raleway', sans-serif;
 	line-height: 1.6;
 	color: #fff;
 	text-transform: uppercase;
}

.reviews__pagination.swiper-pagination {
	left: unset;
	right: 20px;
	bottom: 10px;
	width: auto;
}

.reviews__pagination > .swiper-pagination-bullet {
	background-color: #fff;
	opacity: 0.5;
	width: 15px;
	height: 15px;
	cursor: pointer;
}

.reviews__pagination > .swiper-pagination-bullet.swiper-pagination-bullet-active {
	opacity: 1;
}
/*Download
========================*/

.download {
	margin: 90px 0;
	text-align: center;
}


.download__title {
	font: 400 28px 'Raleway', sans-serif;
	line-height: 1.15;
	color: #2d3033;
	margin-bottom: 10px;
}

.download__text {
	font: 700 13px 'Raleway', sans-serif;
	text-transform: uppercase;
	line-height: 1.6;
	color: #2d3033;
	margin-bottom: 35px;
}

/*footer
===========================*/

.footer {

	background-color: #444768;
}

.footer__inner {
	padding: 70px 0;
	display: flex;
	flex-wrap: wrap;
}

.footer__block {
	width: 33.33333%;
	text-align: center;
	padding: 0 15px;
}

.footer__title {
	font-size: 14px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.footer__address {
	font-style: normal;
	font-size: 14px;
	line-height: 1.5;
	color: rgba(255, 255, 255, .5);
}


/*copyright
=====================*/

.copyright {
	padding: 20px 0;
	background-color: #313454;
}

.copyright__text {
	text-align: center;
	line-height: 1.5;
	font-size: 14px;
}

.by {
	color: #fff;
}

/*burger
=====================*/
.burger {
	display: none;
	background: none;
	border: none;
	cursor: pointer;
	padding: 11px 0;
	outline: 0;

}

.burger__item {
	display: block;
	width: 30px;
	height: 3px;
	background-color: #fff;

	position: relative;
}

.burger__item:before,
.burger__item:after {
	content: "";
	width: 100%;
	height: 100%;
	background-color: #fff;

	position: absolute;
	left: 0;
	z-index: 1;
}

.burger__item:before {
	top: -8px;
}


.burger__item:after {
	bottom: -8px;
}
/*media
=====================*/
@media (max-width: 1300px) {
	/*works*/
	.works__list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 991px) {

	/*nav*/
	.nav {
		display: none;
		width: 100%;
		flex-direction: column;
		text-align: center;
		position: absolute;
		top: 100%;
		right: 0;
		background-color: #31344e;
		border-radius: 15px;
		border: 1px solid;
	}

	.nav.show {
		display: block;
		padding: 10px;
	}

	.nav__list {
		flex-direction: column;
	}

	.nav__item + .nav__item {
		margin-left: 0;
		margin-top: 20px;
	}

	/*burger*/
	.burger {
		display: block;
	}

	/*intro*/
	.intro__title {
		font-size: 40px;
	}

	/*features*/
	.features {
		padding: 50px 0;
	}

	/*team*/
	.team {
		padding: 50px 0;
	}

	.team__list {
		grid-template-columns: 1fr 1fr;
	}


	/*reviews*/
	.reviews__container {
		height: auto;
	}

	.reviews__item {
		flex-direction: column;
	}

	.reviews__img {
		width: 100%;
		height: 550px;
	}

	.reviews__content {
		width: 100%;
		text-align: center;
		padding: 20px 15px 40px;
	}

	.reviews_text {
		font-size: 28px;
	}
}

@media (max-width: 767px) {

	/*intro*/
	.intro {
		height: auto;
		padding: 130px 0 40px;
	}

	.intro__title {
		font-size: 30px;
	}

	.intro__subtitle {

		margin-bottom: 30px;
		font-size: 16px;
	}

	/*works*/
	.works__list {
		grid-template-columns: 1fr;
	}

	.works__item {
		/*width: 100%;*/
		height: 300px;
	}

	/*download*/
	.download {
		margin: 40px 0;
	}

}


@media (max-width: 540px) {
	/*team*/
	.team__list {
		grid-template-columns: 1fr;
	}

	/*btn*/
	.btn--long {
		width: 260px;
	}

	/*footer*/
	.footer__inner {
		padding: 30px 0 0 0;
	}
	.footer__block {
		width: 100%;
		margin-bottom: 30px;
	}

	/*reviews*/
	.reviews__img {
		height: auto;
	}
	.reviews__pagination.swiper-pagination {
		left: 0;
		right: 0;
		bottom: 10px;
		width: 100%;
	}
}
